.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: bold;
    text-align: center;
    color: rgb(41 49 85);
}
tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.symbol {
    width: 120px;
}
.img {
    width: 100px;
    height: 100px;
}
.coinInfo {
    display: flex;
    width: 80%;
    padding: 20px;
    margin-top: 60px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(41 49 85);
    align-items: center;
    color: rgb(41 49 85);
    font-weight: bolder;
    font-size: 17px;
    background-color: rgba(167, 174, 205, 0.598);
}
.listPrice {
    display: flex;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(41 49 85);
    align-items: center;
    color: rgb(41 49 85);
}

.nameDiv {
    display: flex;
    width: 130px;
}

.id {
    width: 30px;
      
}
.name {
    width: 70px;
    
}
.currentPrice {
    width: 140px;
   text-align: center;
}


.priceChangeUp, .priceChangeDown, .priceChange, .priceChangePerHour, .priceChangePerHourUp, .priceChangePerHourDown {
    width: 230px;
}

.priceChangeUp{
    color: green;
}

.priceChangeDown{ 
    color: red; 
}


.priceChange {
    color: rgb(41 49 85);
}
.priceChangePerHour {
    color: rgb(41 49 85);
    
}
.priceChangePerHourUp{
    color: green;
    
}

.priceChangePerHourDown{
    color: red;
}


@media (max-width: 1024px) {

    .priceChange, .priceChangePerHour {
        display: none;
    }

    .priceChangeUp, .priceChangeDown, .priceChangePerHourDown, .priceChangePerHourUp {
        display: none;
    }

}