.descriptionContainer{
    display: block;
    height: auto;
    width: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px rgb(41 49 85);
    color: rgb(41 49 85);
}
section {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}