.navbarContainer{
    display: flex;
    background-color: transparent;
    height: 70px;
    justify-content: right;
    box-shadow: rgb(41 49 85) 0px 1px 5px;
}
.navbarItem{
    
    font-size: 30px;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    padding-right: 50px;
    padding-bottom: 15px;
}
.navbarItem a {
    text-decoration: none;
    color: rgb(41 49 85);
}
.navbarItem a:hover {
    color: rgb(154, 154, 205);
}